*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

:root{
    --primary-color:rgb(5, 0, 77);
    --secondary-color:  rgb(72, 63, 204);
    --btn:  rgb(128, 121, 235);
    --btn-hover:  rgb(221, 219, 254);
    --menu-active: white;
}

/*header section*/

header{
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgb(5, 0, 77);
    position: fixed;
    z-index: 9999;
}

.navbar-title{
    margin-left: 5%;
}

.navbar-title h2{
    color: var(--menu-active);
}

.navbar-menu{
    margin-right: 5%;
}

.navbar-menu a{
    margin-left: 30px;
    color: var(--secondary-color);
}

.menu-active{
    color: var(--menu-active)
    !important;
    border-bottom: 2px solid var(--menu-active);
    padding-bottom: 10px;
}

#menu-icon{
    display: none;
}










/*Media Queries*/

@media (max-width: 768px){
    #menu-icon{
        display: inline-block;
        color: var(--secondary-color);
        margin-right: 5%;
        font-size: 28px;
    }

    .navbar-menu{
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        height: 50vh;
        background-color: var(--primary-color);
        margin: 0;
        border-bottom-left-radius: 20px;
        transition: all 0.5s ease;
    }

    .navbar-menu a{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        transform-origin: 50%;
    }

    .open{
        right: -100%;
    }
}